.receitas-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 6rem 4rem;
}

.receita-favorita-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 1rem;
}

.receita-info-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.favorita-info-item {
    font-family: 'Montserrat', sans-serif;
}

.favorita-receita-title {
    font-size: 1.5rem;
}

.favorita-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 100%;
    cursor: pointer;
}

.remove-label {
    font-family: 'Montserrat', sans-serif;
}

.favorita-button {
    width: 25px;
    height: 25px;
    fill: red;
    transition: all 0.3s ease-in-out;
}

.favorita-button:hover {
    width: 25px;
    height: 25px;
    fill: rgb(172, 0, 0);
}

.section-title {
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    text-align: center;
}

.receita-item-container {
    display: flex;
    flex-direction: column;
}

.receita-item-imagem {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

@media screen and (max-width:800px) {
    .receitas-container {
        width: 100%;
        margin: 4rem auto 6rem auto;
    }

    .receita-favorita-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        
    }
}